<div class="dialog-content-wrapper">
	<h1 mat-dialog-title>Certificate Status</h1>
	<mat-divider></mat-divider>
	
	<div mat-dialog-content class="pl-0 pr-0 pt-24 pb-24 m-0" fusePerfectScrollbar>
		<h3 fxLayoutAlign="center center">
			This certificate is:&nbsp;<strong>{{status == "GOOD" ? "VALID" : status}}</strong>
		</h3>
		<div *ngIf="status === 'GOOD'" class="card-bg">
			<h5 class="mb-2">
				To revoke this certificate, please enter the correct keystore passwords below. <strong>NOTE: this action cannot be undone.</strong>
			</h5>
			<form fxLayout="column" [formGroup]="revokeCertificateForm" class="form-full-width">

				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
					<mat-form-field appearance="outline" class="form-full-width" fxFlex="100">
						<mat-label>Root key store password</mat-label>
						<input matInput type="password" formControlName="rootKeyStorePass" required>
						<mat-error
								*ngIf="revokeCertificateForm.get('rootKeyStorePass').errors && revokeCertificateForm.get('rootKeyStorePass').errors['required']">
								Root key store password is required.
						</mat-error>
					</mat-form-field>
				</div>

				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
					<mat-form-field appearance="outline" class="form-full-width" fxFlex="100">
						<mat-label>Intermediate key store password</mat-label>
						<input matInput type="password" formControlName="intermediateKeyStorePass" required>
						<mat-error
								*ngIf="revokeCertificateForm.get('intermediateKeyStorePass').errors && revokeCertificateForm.get('intermediateKeyStorePass').errors['required']">
								Intermediate key store password is required.
						</mat-error>
					</mat-form-field>
				</div>

				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
					<mat-form-field appearance="outline" class="form-full-width" fxFlex="100">
						<mat-label>End entity key store password</mat-label>
						<input matInput type="password" formControlName="endEntityKeyStorePass" required>
						<mat-error *ngIf="revokeCertificateForm.get('endEntityKeyStorePass').errors && revokeCertificateForm.get('endEntityKeyStorePass').errors['required']">
							End entity key store password is required.
						</mat-error>
					</mat-form-field>
				</div>

			</form>
			<div fxLayout="row" fxLayoutAlign="center center">
				<button
					mat-raised-button
					color="warn"
					(click)="revoke()"
					[disabled]="!revokeCertificateForm.valid">
					Revoke
				</button>
			</div>
		</div>

	</div>
</div>