<div class="page-layout blank p-24" fusePerfectScrollbar>

	<mat-card class="example-card">
		<mat-card-header>
			<mat-card-title>Create self-signed certificate</mat-card-title>
		</mat-card-header>
		<mat-divider></mat-divider>
		<mat-card-content>
			<mat-horizontal-stepper [linear]="true" #stepper>
				<mat-step [stepControl]="createCertificateFromSubject">
					<form fxLayout="column" [formGroup]="createCertificateFromSubject">
						<ng-template matStepLabel>Subject</ng-template>

						<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
							<mat-form-field appearance="outline" class="form-full-width" fxFlex="100">
								<mat-label>Choose existing subject</mat-label>
								<mat-select formControlName="selectedSubject" required>
									<mat-option *ngFor="let subject of subjects" [value]="subject">
										CN={{subject.commonName}}, O={{subject.organization}}
									</mat-option>
								</mat-select>
								<mat-error>Please add a subject first in order to continue to the next step.</mat-error>
							</mat-form-field>
						</div>

						<div fxLayout="row" fxFlex="100">
							<button mat-raised-button color="primary" (click)="openAddSubject()">Add subject</button>
						</div>

						<br>

						<div *ngIf="getSelectedSubject()">
							<mat-card>
								<mat-card-header>
									<mat-card-title>
										Selected subject details:
									</mat-card-title>
								</mat-card-header>
								<mat-card-content>
									<div *ngIf="getSelectedSubject().type == 'USER'">
										<table class="table table-font">
											<tbody>
												<tr>
													<th class="first">Common name:</th>
													<td>{{getSelectedSubject().commonName}}</td>
												</tr>
												<tr>
													<th class="first">Surname:</th>
													<td>{{getSelectedSubject().surname}}</td>
												</tr>
												<tr>
													<th class="first">Givename:</th>
													<td>{{getSelectedSubject().givename}}</td>
												</tr>
												<tr>
													<th class="first">Organization:</th>
													<td>{{getSelectedSubject().organization}}</td>
												</tr>
												<tr>
													<th class="first">Email:</th>
													<td>{{getSelectedSubject().email}}</td>
												</tr>
												<tr>
													<th class="first">Country code:</th>
													<td>{{getSelectedSubject().countryCode}}</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div *ngIf="getSelectedSubject().type == 'SOFTWARE'">
										<table class="table table-font">
											<tbody>
												<tr>
													<th class="first">Common name</th>
													<td>{{getSelectedSubject().commonName}}</td>
												</tr>
												<tr>
													<th class="first">Organization</th>
													<td>{{getSelectedSubject().organization}}</td>
												</tr>
												<tr>
													<th class="first">Organization unit</th>
													<td>{{getSelectedSubject().organizationUnitName}}</td>
												</tr>
												<tr>
													<th class="first">Country code</th>
													<td>{{getSelectedSubject().countryCode}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</mat-card-content>
							</mat-card>
						</div>

						<br>

						<div fxLayout="row" fxLayoutAlign="center center">
							<button
								mat-raised-button
								color="primary"
								[disabled]="!createCertificateFromSubject.valid"
								matStepperNext>
								Next
							</button>
						</div>
					</form>
				</mat-step>
					<mat-step [stepControl]="createCertificateFromOtherData">
							<form fxLayout="column" [formGroup]="createCertificateFromOtherData">
									<ng-template matStepLabel>Extensions</ng-template>

									<mat-card fxLayout="column" fxFlex="100">
										<mat-card-header>
											<mat-card-title>Validity Period</mat-card-title>
										</mat-card-header>
										<mat-card-content fxLayout="column" fxFlex="100">
											<mat-divider></mat-divider>
											<br>
											<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
												<mat-form-field appearance="outline" fxFlex="100">
													<mat-label>Start date *</mat-label>
													<input
														matInput
														[matDatepicker]="pickerFrom"
														formControlName="validFrom"
														readonly
														[min]="minDate">
													<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
													<mat-datepicker #pickerFrom disabled="false"></mat-datepicker>
												</mat-form-field>
											</div>
					
											<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
												<mat-form-field appearance="outline" fxFlex="100">
													<mat-label>End date *</mat-label>
													<input
														matInput
														[matDatepicker]="pickerTo"
														formControlName="validTo"
														readonly
														[min]="minDate">
													<mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
													<mat-datepicker #pickerTo disabled="false"></mat-datepicker>
												</mat-form-field>
											</div>
					
											<div fxLayout="row" fxFlex="1 0 auto">
												<mat-error
													class="date-err"
													*ngIf="(createCertificateFromOtherData.get('validFrom').errors && createCertificateFromOtherData.get('validFrom').errors['required']) || 
													(createCertificateFromOtherData.get('validTo').errors && createCertificateFromOtherData.get('validTo').errors['required']) ">
													The start and end date of the validity period is required.
												</mat-error>
												<mat-error
													class="date-err"
													*ngIf="createCertificateFromOtherData.errors && createCertificateFromOtherData.errors['validError']">
													The start date validity period must be between the present day and the end date in the future.
												</mat-error>
											</div>
										</mat-card-content>
									</mat-card>

									<br>

									<div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
										<mat-card>
											<mat-card-header>
												<mat-card-title>Extensions</mat-card-title>
											</mat-card-header>
											<mat-divider></mat-divider>
											<br>
											<mat-card-content>
												<table class="form-full-width table-font mb-2">
													<tr>
														<td>
															<mat-checkbox formControlName="authorityKeyIdentifier">
																Generate Authority Key Identifier
															</mat-checkbox>
														</td>
													</tr>
													<tr>
														<td>
															<mat-checkbox formControlName="subjectKeyIdentifier">
																Generate Subject Key Identifier
															</mat-checkbox>
														</td>
													</tr>
												</table>
											</mat-card-content>
										</mat-card>

										<br>

										<mat-card>
											<mat-card-header>
												<mat-card-title>Key Usage Extensions</mat-card-title>
											</mat-card-header>
											<mat-divider></mat-divider>
											<br>
											<mat-card-content>
												<table class="form-full-width table-font" formGroupName="keyUsage">
													<tr>
														<td>
															<mat-checkbox formControlName="digitalSignature">
																Digital Signature
															</mat-checkbox>
														</td>
														<td>
															<mat-checkbox formControlName="nonRepudiation">
																Non Repudiation
															</mat-checkbox>
														</td>
													</tr>
													<tr>
														<td>
															<mat-checkbox formControlName="keyEncipherment">
																Key Encipherment
															</mat-checkbox>
														</td>
														<td>
															<mat-checkbox formControlName="dataEncipherment">
																Data Encipherment
															</mat-checkbox>
														</td>
													</tr>
													<tr>
														<td>
															<mat-checkbox formControlName="keyAgreement">
																Key Agreement
															</mat-checkbox>
														</td>
														<td>
															<mat-checkbox formControlName="certificateSigning">
																Certificate Signing
															</mat-checkbox>
														</td>
													</tr>
													<tr>
														<td>
															<mat-checkbox formControlName="crlSign">
																CRL Sign
															</mat-checkbox>
														</td>
														<td>
															<mat-checkbox formControlName="encipherOnly">
																Encipher Only
															</mat-checkbox>
														</td>
													</tr>
														<tr>
															<td>
																<mat-checkbox formControlName="decipherOnly">
																	Decipher Only
																</mat-checkbox>
															</td>
														</tr>
												</table>
											</mat-card-content>
										</mat-card>

										<br>

										<mat-card>
											<mat-card-header>
												<mat-card-title>Additional Key Usage Extensions</mat-card-title>
											</mat-card-header>
											<mat-divider></mat-divider>
											<br>
											<mat-card-content>
												<table class="form-full-width table-font" formGroupName="extendedKeyUsage">
													<tr>
														<td>
															<mat-checkbox formControlName="serverAuth">
																TLS Web Server Authentication
															</mat-checkbox>
														</td>
														<td>
															<mat-checkbox formControlName="codeSigning">
																Code Signing
															</mat-checkbox>
														</td>
													</tr>
													<tr>
														<td>
															<mat-checkbox formControlName="clientAuth">
																TLS Web Client Authentication
															</mat-checkbox>
														</td>
														<td>
															<mat-checkbox formControlName="emailProtection">
																E-mail Protection
															</mat-checkbox>
														</td>
													</tr>
													<tr>
														<td>
															<mat-checkbox formControlName="timeStamping">
																Time Stamping
															</mat-checkbox>
														</td>
														<td>
															<mat-checkbox formControlName="ocspSigning">
																OCSP Signing
															</mat-checkbox>
														</td>
													</tr>
												</table>
											</mat-card-content>
										</mat-card>

									</div>

									<br>

									<div fxLayout="row" fxLayoutAlign="center center">
										<button
											class="mr-8"
											mat-raised-button
											matStepperPrevious
											color="primary">
											Previous
										</button>
										<button
											mat-raised-button
											matStepperNext
											color="primary"
											[disabled]="!createCertificateFromOtherData.valid">
											Next
										</button>
									</div>
							</form>
					</mat-step>

					<mat-step [stepControl]="createCertificateInfoAboutKeyStorage">
							<form fxLayout="column" [formGroup]="createCertificateInfoAboutKeyStorage">
									<ng-template matStepLabel>Access info</ng-template>

									<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
										<mat-form-field appearance="outline" class="form-full-width" fxFlex="100">
											<mat-label>Certificate alias</mat-label>
											<input matInput type="text" formControlName="alias">
											<mat-error
												*ngIf="createCertificateInfoAboutKeyStorage.get('alias').errors && createCertificateInfoAboutKeyStorage.get('alias').errors['required']">
												Please enter alias for the certificate.
											</mat-error>
										</mat-form-field>
									</div>
			
									<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
										<mat-form-field appearance="outline" class="form-full-width" fxFlex="100">
											<mat-label>Key store password</mat-label>
											<input matInput type="password" formControlName="password">
											<mat-error
												*ngIf="createCertificateInfoAboutKeyStorage.get('password').errors && createCertificateInfoAboutKeyStorage.get('password').errors['required']">
												Please enter key store password.
											</mat-error>
										</mat-form-field>
									</div>
			
									<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
										<mat-form-field appearance="outline" class="form-full-width" fxFlex="100">
											<mat-label>Private key password</mat-label>
											<input matInput type="password" formControlName="privateKeyPassword">
											<mat-error
												*ngIf="createCertificateInfoAboutKeyStorage.get('privateKeyPassword').errors && createCertificateInfoAboutKeyStorage.get('privateKeyPassword').errors['required']">
												Please enter private key password password.
											</mat-error>
										</mat-form-field>
									</div>
									
									<div fxLayout="row" fxLayoutAlign="center center">
										<button
											class="mr-8"
											mat-raised-button
											matStepperPrevious
											color="primary">
											Previous
										</button>
										<button
											mat-raised-button
											matStepperNext
											color="primary"
											(click)="createCertificate()"
											[disabled]="!createCertificateFromOtherData.valid">
											Next
										</button>
									</div>
							</form>
					</mat-step>
			</mat-horizontal-stepper>
		</mat-card-content>
	</mat-card>

</div>