// .example-card {
//   max-width: 400px;
// }

.example-radio-group {
  // display: flex;
  // flex-direction: column;
  margin: 15px;
}

.example-radio-button {
  margin: 20px 15px 15px 20px;
}

.full-width-field {
  width: 100%;
}

table {
  width: 100%;
}

.mat-card-header-text {
  margin: 0 !important;
}