<div id="error" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="message">
            <div class="error-code">
                401
            </div>
            <p>
                Sorry but you have to be logged in if you want to view this page.
            </p>
            <p>
                <a
                    mat-raised-button
                    class="reference-button mt-16 mt-sm-0"
                    routerLink="/pages/login"
                    color="accent">
                    <mat-icon class="mr-8">lock</mat-icon>
                    <span>Go to login page</span>
                </a>
            </p>
        </div>

    </div>

</div>