<div class="page-layout blank p-24" fusePerfectScrollbar>

	<mat-card>
		<mat-card-header>
			<mat-card-title>1. Create or select a subject</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				First select a subject or create a new one if you don't
				have it already.
			</p>
			<mat-divider></mat-divider>
			<br>
			<form fxLayout="column" [formGroup]="createCertificateSubjectForm">

				<table class="form-full-width">
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Choose existing subject</mat-label>
								<mat-select formControlName="selectedSubject" required>
									<mat-option *ngFor="let subject of subjects" [value]="subject">
										CommonName: {{subject.commonName}}, Organization: {{subject.organization}}
									</mat-option>
								</mat-select>
								<mat-error
									*ngIf="createCertificateSubjectForm.get('selectedSubject').errors && createCertificateSubjectForm.get('selectedSubject').errors['required']">
									Please select a subject.
								</mat-error>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							Don't have a subject? <a routerLink="/pages/create-subject">Create one here</a>.
						</td>
					</tr>
					<tr>
						<td>
							<div *ngIf="getSelectedSubject()">
								<br>
								<table class="table table-striped border">
									<thead>
										<tr>
											<th>Common name</th>
											<th>Surname</th>
											<th>Given name</th>
											<th>Organization</th>
											<th>Email</th>
											<th>Country code</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{getSelectedSubject().commonName}}</td>
											<td>{{getSelectedSubject().surname}}</td>
											<td>{{getSelectedSubject().givenName}}</td>
											<td>{{getSelectedSubject().organization}}</td>
											<td>{{getSelectedSubject().email}}</td>
											<td>{{getSelectedSubject().country}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</table>

			</form>
		</mat-card-content>
	</mat-card>

	<br>

	<mat-card>
		<mat-card-header>
			<mat-card-title>2. Select existing issuer</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				First select a subject or create a new one if you don't
				have it already.
			</p>
			<mat-divider></mat-divider>
			<br>
			<form fxLayout="column" [formGroup]="createCertificateExistingIssuerForm">

				<table class="form-full-width">
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Key store password</mat-label>
								<input matInput type="password" formControlName="keyStorePassword" required>
								<mat-error
									*ngIf="createCertificateExistingIssuerForm.get('keyStorePassword').errors && createCertificateExistingIssuerForm.get('keyStorePassword').errors['required']">
									Key store password is required.
								</mat-error>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<div appearance="outline" fxFlex="50">
								<button
									mat-raised-button
									color="primary"
									[attr.disabled]="createCertificateExistingIssuerForm.get('keyStorePassword').errors"
									(click)="getCACertificates()">
									Get all CA certificates
								</button>
							</div>
						</td>
					</tr>
					<br>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Choose an existing issuer</mat-label>
								<mat-select formControlName="selectedIssuerCertificate" required>
									<mat-option *ngFor="let issuerCertificate of issuerCertificates" [value]="issuerCertificate">
										Common name: {{issuerCertificate.commonName}},
										Organization: {{issuerCertificate.organization}}
									</mat-option>
								</mat-select>
								<mat-error
									*ngIf="createCertificateExistingIssuerForm.get('selectedIssuerCertificate').errors && createCertificateExistingIssuerForm.get('selectedIssuerCertificate').errors['required']">
									Please select an issuer.
								</mat-error>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<div *ngIf="getSelectedIssuerCertificate()">
								<table class="table table-striped border">
									<thead>
										<tr>
											<th>Common name</th>
											<th>Surname</th>
											<th>Given name</th>
											<th>Organization</th>
											<th>Email</th>
											<th>Country code</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{getSelectedIssuerCertificate().commonName}}</td>
											<td>{{getSelectedIssuerCertificate().surname}}</td>
											<td>{{getSelectedIssuerCertificate().givenName}}</td>
											<td>{{getSelectedIssuerCertificate().organization}}</td>
											<td>{{getSelectedIssuerCertificate().email}}</td>
											<td>{{getSelectedIssuerCertificate().country}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
					
				</table>

			</form>
		</mat-card-content>
	</mat-card>

	<br>

	<mat-card>
		<mat-card-header>
			<mat-card-title>3. Validity period</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Next, select when this root certificate is supposed to be valid.
			</p>
			<mat-divider></mat-divider>
			<br>
			<form fxLayout="column" [formGroup]="createCertificateValidityForm">

				<table class="form-full-width">
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Start date</mat-label>
								<input matInput [matDatepicker]="pickerFrom" formControlName="validFrom" required [min]="minDate"
									[max]="getSelectedIssuerCertificateValidTo()">
								<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
								<mat-datepicker #pickerFrom disabled="false"></mat-datepicker>
								<mat-error
									*ngIf="(createCertificateValidityForm.get('validFrom').errors && createCertificateValidityForm.get('validFrom').errors['required'])">
									Start date is required.
								</mat-error>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>End date</mat-label>
								<input matInput [matDatepicker]="pickerTo" formControlName="validTo" required [min]="minDate"
									[max]="getSelectedIssuerCertificateValidTo()">
								<mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
								<mat-datepicker #pickerTo disabled="false"></mat-datepicker>
								<mat-error
									*ngIf="(createCertificateValidityForm.get('validTo').errors && createCertificateValidityForm.get('validTo').errors['required'])">
									End date is required.
								</mat-error>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-error
								*ngIf="createCertificateValidityForm.errors && createCertificateValidityForm.errors['validError']">
								End date cannot be greater or equal to the start date.
							</mat-error>
						</td>
					</tr>
				</table>
			
			</form>
		</mat-card-content>
	</mat-card>

	<br>

	<mat-card>
		<mat-card-header>
			<mat-card-title>4. Select extensions</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Select extensions by your requirements.
			</p>
			<mat-divider></mat-divider>
			<br>
			<form fxLayout="column" [formGroup]="createCertificateExtensionsForm">

				<table class="form-full-width">
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="subjectIsCa">
									Subject is CA
								</mat-checkbox>
							</div>
						</td>
					</tr>
				</table>

			</form>
		</mat-card-content>
	</mat-card>

	<br>

	<mat-card>
		<mat-card-header>
			<mat-card-title>5. Select key usage extensions</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Select at least one key usage extension.
			</p>
			<mat-divider></mat-divider>
			<br>
			<form fxLayout="column" [formGroup]="createCertificateKeyUsageExtensionsForm">

				<table class="form-full-width" formGroupName="keyUsage">
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="digitalSignature"
									[attr.disabled]="issuerKeyUsageExists() && getSelectedIssuerCertificate().keyUsage.digitalSignature == false">
									Digital Signature
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="nonRepudiation"
									[attr.disabled]="issuerKeyUsageExists() && getSelectedIssuerCertificate().keyUsage.nonRepudiation == false">
									Non Repudiation
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="keyEncipherment"
									[attr.disabled]="issuerKeyUsageExists() && getSelectedIssuerCertificate().keyUsage.keyEncipherment == false">
									Key Encipherment
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="dataEncipherment"
									[attr.disabled]="issuerKeyUsageExists() && getSelectedIssuerCertificate().keyUsage.dataEncipherment == false">
									Data Encipherment
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="keyAgreement"
									[attr.disabled]="issuerKeyUsageExists() && getSelectedIssuerCertificate().keyUsage.keyAgreement == false">
									Key Agreement
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="certificateSigning"
									[attr.disabled]="issuerKeyUsageExists() && getSelectedIssuerCertificate().keyUsage.certificateSigning == false">
									Certificate Signing
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="crlSign"
									[attr.disabled]="issuerKeyUsageExists() && getSelectedIssuerCertificate().keyUsage.crlSign == false">
									CRL Sign
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="enchiperOnly"
									[attr.disabled]="issuerKeyUsageExists() && getSelectedIssuerCertificate().keyUsage.enchiperOnly == false">
									Enchiper Only
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="decipherOnly"
									[attr.disabled]="issuerKeyUsageExists() && getSelectedIssuerCertificate().keyUsage.decipherOnly == false">
									Decipher Only
								</mat-checkbox>
							</div>
						</td>
					</tr>
				</table>

			</form>
		</mat-card-content>
	</mat-card>

	<br>

	<mat-card>
		<mat-card-header>
			<mat-card-title>6. Select extended key usage extensions</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Select at least one extended key usage extension.
			</p>
			<mat-divider></mat-divider>
			<br>
			<form fxLayout="column" [formGroup]="createCertificateExtendedKeyUsageExtensionsForm">

				<table class="form-full-width" formGroupName="extendedKeyUsage">
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="serverAuth"
									[attr.disabled]="issuerExtendedKeyUsageExists() && getSelectedIssuerCertificate().extendedKeyUsage.serverAuth == false">
									TLS Web Server Authentication
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="codeSigning"
									[attr.disabled]="issuerExtendedKeyUsageExists() && getSelectedIssuerCertificate().extendedKeyUsage.codeSigning == false">
									Code Signing
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="clientAuth"
									[attr.disabled]="issuerExtendedKeyUsageExists() && getSelectedIssuerCertificate().extendedKeyUsage.clientAuth == false">
									TLS Web Client Authentication
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="emailProtection"
									[attr.disabled]="issuerExtendedKeyUsageExists() && getSelectedIssuerCertificate().extendedKeyUsage.emailProtection == false">
									E-mail Protection
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="timeStamping"
									[attr.disabled]="issuerExtendedKeyUsageExists() && getSelectedIssuerCertificate().extendedKeyUsage.timeStamping == false">
									Time Stamping
								</mat-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div fxLayout="column" fxFlex="50">
								<mat-checkbox formControlName="ocspSigning"
									[attr.disabled]="issuerExtendedKeyUsageExists() && getSelectedIssuerCertificate().extendedKeyUsage.ocspSigning == false">
									OCSP Signing
								</mat-checkbox>
							</div>
						</td>
					</tr>
				</table>

			</form>
		</mat-card-content>
	</mat-card>

	<br>

	<mat-card>
		<mat-card-header>
			<mat-card-title>7. Access information</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Create a password for your certificate below.
			</p>
			<mat-divider></mat-divider>
			<br>
			<form fxLayout="column" [formGroup]="createCertificateAccessInformationForm">

				<table class="form-full-width">
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Certificate alias</mat-label>
								<input matInput type="text" formControlName="alias" required>
								<mat-error
									*ngIf="createCertificateAccessInformationForm.get('alias').errors && createCertificateAccessInformationForm.get('alias').errors['required']">
									Alias is required.
								</mat-error>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Password</mat-label>
								<input matInput type="password" formControlName="password" required>
								<mat-error
									*ngIf="createCertificateAccessInformationForm.get('password').errors && createCertificateAccessInformationForm.get('password').errors['required']">
									Please enter the password.
								</mat-error>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Key store password</mat-label>
								<input matInput type="password" formControlName="keyStorePassword" required>
								<mat-error
									*ngIf="createCertificateAccessInformationForm.get('keyStorePassword').errors && createCertificateAccessInformationForm.get('keyStorePassword').errors['required']">
									Please enter the key store password.
								</mat-error>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<button
								mat-raised-button
								color="primary"
								(click)="createCertificate()"
								[disabled]="
									createCertificateSubjectForm.invalid ||
									createCertificateExistingIssuerForm.invalid ||
									createCertificateValidityForm.invalid ||
									createCertificateExtensionsForm.invalid ||
									createCertificateKeyUsageExtensionsForm.invalid ||
									createCertificateExtendedKeyUsageExtensionsForm.invalid ||
									createCertificateAccessInformationForm.invalid">
								Create certificate
							</button>
						</td>
					</tr>
				</table>

			</form>
		</mat-card-content>
	</mat-card>

</div>
