<div class="dialog-content-wrapper">
	<h1 mat-dialog-title>Certificate Details</h1>
	<mat-divider></mat-divider>
	
	<div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

		<table class="table mb-2">
			<tbody>
				<tr>
					<th class="table-header-alignment">Serial number:</th>
					<td>{{selectedCert.serialNumber}}</td>
				</tr>
				<tr>
					<th class="table-header-alignment">Validity period:</th>
					<td>{{selectedCert.validFrom | date: 'd.M.yyyy.'}} —
							{{selectedCert.validTo | date: 'd.M.yyyy.'}}</td>
				</tr>
				<tr>
					<th class="table-header-alignment">Certificate Authority (CA):</th>
					<td>{{isCA()}}</td>
				</tr>
			</tbody>
		</table>
		<mat-tab-group dynamicHeight class="mb-2">
			<mat-tab label="Subject">
				<!-- <div *ngIf="getSubject().type == 'USER'"> -->
					<table class="table">
						<tbody>
							<tr>
								<th class="table-header-alignment">Common name:</th>
								<td>{{getSubject().commonName}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Surname:</th>
								<td>{{getSubject().surname}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Givename:</th>
								<td>{{getSubject().givenName}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Organization:</th>
								<td>{{getSubject().organization}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Email:</th>
								<td>{{getSubject().email}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Country code:</th>
								<td>{{getSubject().country}}</td>
							</tr>
						</tbody>
					</table>
				<!-- </div> -->
				<!-- <div *ngIf="getSubject().type == 'COMPANY'">
					<table class="table">
						<tbody>
							<tr>
								<th class="table-header-alignment">Common name:</th>
								<td>{{getSubject().commonName}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Organization:</th>
								<td>{{getSubject().organization}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Organization unit:</th>
								<td>{{getSubject().organizationUnitName}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Country code:</th>
								<td>{{getSubject().country}}</td>
							</tr>
						</tbody>
					</table>
				</div> -->
			</mat-tab>
			<mat-tab label="Issuer">
				<!-- <div *ngIf="getIssuer().type == 'USER'"> -->
					<table class="table">
						<tbody>
							<tr>
								<th class="table-header-alignment">Common name:</th>
								<td>{{getIssuer().commonName}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Surname:</th>
								<td>{{getIssuer().surname}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Givename:</th>
								<td>{{getIssuer().givenName}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Organization:</th>
								<td>{{getIssuer().organization}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Email:</th>
								<td>{{getIssuer().email}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Country code:</th>
								<td>{{getIssuer().country}}</td>
							</tr>
						</tbody>
					</table>
				<!-- </div> -->
				<!-- <div *ngIf="getIssuer().type == 'COMPANY'">
					<table class="table">
						<tbody>
							<tr>
								<th class="table-header-alignment">Common name:</th>
								<td>{{getIssuer().commonName}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Organization:</th>
								<td>{{getIssuer().organization}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Organization unit:</th>
								<td>{{getIssuer().organizationUnitName}}</td>
							</tr>
							<tr>
								<th class="table-header-alignment">Country code:</th>
								<td>{{getIssuer().country}}</td>
							</tr>
						</tbody>
					</table>
				</div> -->
			</mat-tab>
		</mat-tab-group>
		<mat-tab-group dynamicHeight>
			<mat-tab label="Key Usage" *ngIf="hasKeyUsage()">
				<mat-list>
					<mat-list-item *ngIf="getKeyUsage().digitalSignature">&#10003; Digital Signature</mat-list-item>
					<mat-list-item *ngIf="getKeyUsage().nonRepudiation">&#10003; Non Repudiation</mat-list-item>
					<mat-list-item *ngIf="getKeyUsage().keyEncipherment">&#10003; Key Encipherment</mat-list-item>
					<mat-list-item *ngIf="getKeyUsage().dataEncipherment">&#10003; Data Encipherment</mat-list-item>
					<mat-list-item *ngIf="getKeyUsage().keyAgreement">&#10003; Key Agreement</mat-list-item>
					<mat-list-item *ngIf="getKeyUsage().certificateSigning">&#10003; Certificate Signing</mat-list-item>
					<mat-list-item *ngIf="getKeyUsage().crlSign">&#10003; CRL Sign</mat-list-item>
					<mat-list-item *ngIf="getKeyUsage().enchiperOnly">&#10003; Encipher Only</mat-list-item>
					<mat-list-item *ngIf="getKeyUsage().decipherOnly">&#10003; Decipher Only</mat-list-item>
				</mat-list>
			</mat-tab>
			<mat-tab label="Extended Key Usage" *ngIf="hasExtendedKeyUsage()">
				<mat-list>
					<mat-list-item *ngIf="getExtendedKeyUsage().serverAuth">&#10003; TLS Web Server Authentication</mat-list-item>
					<mat-list-item *ngIf="getExtendedKeyUsage().clientAuth">&#10003; TLS Web Client Authentication</mat-list-item>
					<mat-list-item *ngIf="getExtendedKeyUsage().codeSigning">&#10003; Code Signing</mat-list-item>
					<mat-list-item *ngIf="getExtendedKeyUsage().emailProtection">&#10003; E-mail Protection</mat-list-item>
					<mat-list-item *ngIf="getExtendedKeyUsage().timeStamping">&#10003; Time Stamping</mat-list-item>
					<mat-list-item *ngIf="getExtendedKeyUsage().ocspSigning">&#10003; OCSP Signing</mat-list-item>
				</mat-list>
			</mat-tab>
		</mat-tab-group>

	</div>
</div>
